.title {
  background-color: #262626;
  color: #f55246 !important;
  font-weight: 600;
}
.modal-content {
  background-color: #262626;
  color: ivory;
}
.modal-actions {
  background-color: #262626;
  color: ivory;
}
