<mat-dialog-content class="modal-content">
    <mat-icon class="modal-icon">description</mat-icon>
    <p>Do you want to download the report or preview it in the browser?</p>
    <div class="button-container">
      <button mat-button class="close-button" (click)="downloadReport()">Download Report</button>
      <button mat-button class="close-button" (click)="previewReport()">Preview Report</button>
      <button mat-button mat-dialog-close class="close-button">Close</button>
    </div>
  </mat-dialog-content>
  